.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.static {
  // position: absolute;
  // width: 150px;
  // height: 100vh;
  // left: 0;
  // top: 10;
  background-color: #eeeeee;
  // border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
  width: 100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width: 100%;
}

.droppable {
  // position: absolute;
  // width: 150px;
  height: 100vh;
  // right: 0;
  // top: 10;
  // background-color: #9E9E9E;
  // border-left: 1px dotted;
}
.imageUploaded {
  width: 100%;
  height: 100%;
}
.draggable {
  // width: 100px;
  // height: 100px;
  margin: 5px auto;
  line-height: 5em;
  cursor: pointer;
}
.container_drag {
  display: grid;
  grid-template-columns: 15rem 1fr 17rem;
}

.colorDiv {
  height: 2rem;
  display: inline-block;
  width: 2rem;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
}
.ant-input {
  height: 100% !important;
}
.cardofHeight { 
  width: 8rem;
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
  height: 10rem;
  display: grid;
  padding: 4px 0 0 7px;
  img{
    width:5rem;
    margin: 0 auto;
    height: 5rem;
  }
  .inputWH{ 
    margin-top: 4px;
    p{
      white-space: nowrap;
      margin:0;
      padding:0;
      margin-bottom: 4px;
      input{
        width:80%;
      }
    }
  }
}
.centerTheContext {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
}
